@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.greenc {
  color: #648912;
}

.redc {
  color: #A62929;
}

.darkhc {
  color: #641919;
}

.regular-12 {
  font-size: 12px;
  font-weight: 400;
}

.regular-14 {
  font-size: 14px;
  font-weight: 400;
}

.regular-16 {
  font-size: 16px;
  font-weight: 400;
}

.regular-18 {
  font-size: 18px;
  font-weight: 400;
}

.regular-20 {
  font-size: 20px;
  font-weight: 400;
}

.regular-24 {
  font-size: 24px;
  font-weight: 400;
}

.bold-12 {
  font-size: 12px;
  font-weight: 600;
}

.bold-14 {
  font-size: 14px;
  font-weight: 600;
}

.bold-16 {
  font-size: 16px;
  font-weight: 600;
}

.bold-18 {
  font-size: 18px;
  font-weight: 600;
}

.bold-20 {
  font-size: 20px;
  font-weight: 600;
}

.bold-24 {
  font-size: 24px;
  font-weight: 600;
}

.bold-36 {
  font-size: 36px;
  font-weight: 600;
}

.active-language {
  font-weight: bold;
}
