<section class="section-second my-4 d-flex justify-content-between">
    <div class="card-1 mb-3">
        <div class="d-flex flex-row align-items-center mt-3">
            <span class="bold-36 greenc mx-2">Planet</span>
            <img loading="lazy" src="{{ url_for('static', filename='img/planet-earth.png') }}" alt="Meat Icon 2" class="me-3"
                aria-hidden="true">
        </div>
        <article class="text-start my-3 regular-20">
            Reducing carbon footprint and promoting a more sustainable food system by sourcing fresh, natural
            ingredients
        </article>
    </div>
    <div class="card-1 mb-3">
        <div class="d-flex flex-row align-items-center mt-3">
            <span class="bold-36 greenc mx-2">Kindness</span>
            <img loading="lazy" src="{{ url_for('static', filename='img/charity.png') }}" alt="Meat Icon 2" class="me-3"
                aria-hidden="true">
        </div>
        <article class="text-start my-3 regular-20">
            Our plant-based products are 100% cruelty-free, promoting a more compassionate food system
        </article>
    </div>
    <div class="card-1 mb-3">
        <div class="d-flex flex-row align-items-center mt-3">
            <span class="bold-36 greenc mx-2">Joy</span>
            <img loading="lazy" src="{{ url_for('static', filename='img/tasty.png') }}" alt="Meat Icon 2" class="me-3"
                aria-hidden="true">
        </div>
        <article class="text-start my-3 regular-20">
            Delicious and enjoyable for everyone. Our goal is to make the plant-based lifestyle an exciting accessible
            choice
        </article>
    </div>
</section>