<section class="section-shop container my-4 p-4">
    <h1 class="text-center darkhc fw-bold">Where to buy</h1>
    <div class="d-flex flex-row flex-wrap gap-2 justify-content-center my-4">
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_1.png') }}" alt="Big C">
        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_2.png') }}" alt="Shop 2">

        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_3.png') }}" alt="Shop 3">

        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_4.png') }}" alt="Shop 4">

        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_5.png') }}" alt="Shop 5">
        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_6.png') }}" alt="Shop 6">

        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_7.png') }}" alt="Shop 7">
        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_8.png') }}" alt="Shop 8">

        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_9.png') }}" alt="Shop 9">

        </div>
        <div class="col-md-2 mb-4">
            <img loading="lazy" src="{{ url_for('static', filename='img/shops/shop_10.png') }}" alt="Shop 10">

        </div>

    </div>
</section>