<section class="section-shop container my-4 p-4">
    <h1 class="text-center darkhc fw-bold">Where to buy</h1>
    <div class="d-flex flex-row flex-wrap gap-2 justify-content-center my-4">
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (1).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (2).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (3).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (4).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (5).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (6).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (7).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (8).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (9).png') }}" alt="Shop 1">
        </div>
        <div class="col-md-2 mb-4">
            <img src="{{ url_for('static', filename='img/shops/shop (10).png') }}" alt="Shop 1">
        </div>

    </div>
</section>