<section class="section-top container my-4 p-4">
    <div class="row">

        <div class="col-12 col-md-5 col-lg-5 d-flex flex-column justify-content-center align-items-center gap-2">
            <div class="text-center">
                <h1 class="fw-bold darkhc" >Why</h1>
                <img loading="lazy" src="{{ url_for('static', filename='img/Red_0.png') }}" alt="Carbon about image" class="img-fluid"
                    aria-hidden="true">
            </div>
            <button class="btn buy-btn-2 my-4 px-4 py-2">
                <span class="fw-bold regular-20 darkhc">Learn more</span>
            </button>
        </div>
        <div class="col-12 col-md-7 col-lg-7 d-flex justify-content-end">
            <img loading="lazy" src="{{ url_for('static', filename='img/thirdImage.png') }}" alt="Carbon about image" class="img-fluid"
                aria-hidden="true">
        </div>

    </div>
</section>